.burger_nav {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 38px;
} 


.burger__container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    visibility: hidden;
    transition: .3s;
    z-index: 5000;
}

.burger__content {
    background: #202021;
    width: 80%;
    height: 100%;
    color: black;
}

.burger__container.open {
    left: 0;
    visibility: visible;
    transition: .3s;
}

#burger__btn {
    padding: 1.65rem 1.65rem;
    background: none;
    border: 0.125rem solid #000000;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    position: relative;
    z-index: 5001;
}

#burger__btn span {
    position: absolute;
    width: 2.2rem;
    height: 2px;
    background: #000000;
    transition: transform 0.3s;
}

#burger__btn span::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: inherit;
    height: 2px;
    background: inherit;
    transition: all 0.3s;
}

#burger__btn span::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: inherit;
    height: inherit;
    background: inherit;
    transition: opacity 0.3s;
}

#burger__btn .btn-open-animation {
    width: 2rem;
    transform: rotate(45deg);
    transition: transform 0.3s;
}

#burger__btn .btn-open-animation::after {
    transform: rotate(90deg);
    top: 0;
    transition: all 0.3s;
}

#burger__btn .btn-open-animation::before {
    opacity: 0;
    transition: opacity 0.2s;
}

.burger_menu {
    display: none;
}
