

  /* ESCLUSIV  */

  .page_title {
    margin-top: 30px;
    color: black;
    text-transform: uppercase;
    font-size: clamp(15px, 5vw, 40px);
    text-align: center;
    margin-bottom: 30px;
}

.tovar_card {
  cursor: pointer;
    padding: 14px;
    background-color: black;
    border-radius: 12px;
    margin-bottom: 20px;
  transition: 0.2s ease;
}

.tovar_card:hover {
  background-color: rgb(50, 50, 50);
  transition: 0.2s ease;
}

.tovar_card img {
    width: 100%;
}

.card_inf_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 11px;
    margin-top: 12px;
}

.tovar_name {
    font-size: clam(20px, 5ww, 13px);
    font-size: 12px;
}

.esclus_cardsss {
  align-items: center;
  justify-content: center;
}



