@import url(./grid.css);
@import url(./reset.css);
@import url(./burg_menu.css);
@import url(./esclusive.css);


/* SLIDER  */
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");

/* font-family: "Inter", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  /* overflow-y: hidden; */
}

body {
  font-family: "Inter", sans-serif;;
  animation: fade 0.1s;
  color: white;
  background-color: #D1D1D1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

.url {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* HEADER  */

.heead_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nubm {
    color: black;
}

.logo__header img {
  width: 100px;
}

.basket img {
  width: 50px;
}


.contact_block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.head_nav_list {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

}

.under_header {
    background-color: black;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head_nav_item {
    font-size: clamp(9px, 5vw, 12px);
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white; /* Цвет текста ссылки */
    margin-right: 20px; /* Примерный отступ между ссылками */
  }
  
  .head_nav_item::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px; /* Высота подчеркивания */
    background-color: white; /* Белый цвет подчеркивания */
    transition: width 0.3s ease; /* Анимация изменения ширины */
  }
  
  .head_nav_item:hover::before {
    width: 100%; /* Полная ширина подчеркивания при наведении */
  }
  


  /* newwww */

  .swiper {
    width: 80%;

  }



















  /* FOOTER  */

.footer {
    margin-top: 90px;
    background-color: #000000;
    padding: 30px;
  }
  
  .foot_nav {
    justify-content: flex-start ;
  }
  
  .foot_conblock {
    padding-bottom: 30px;
    border-bottom: 0.6px solid #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .foot_numb {
    color: white;
  }
  
  .licencsion_block {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .politick {
    font-size: 13px;
    width: 358px;
    font-weight: 300;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width:817px) {
      .logo__header img {
          width: 80px;
      }
  
      .basket img {
          width: 50px;
      }
  
  
  }
   
  
  
  
  
  
  
  @media (max-width: 580px ) {
      .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm { 
          width: auto;
      }
  
      .head_nav_list {
          gap: 0;
      }
   
  }
  
  @media (max-width: 515px ) {
     .under_header_hidee {
      display: none;
     
     }
  
     .logo__header img {
      width: 70px;
  }
  
  .basket img {
      width: 40px;
  }
  
     .header {
      border-bottom: 3px solid;
      color: black;
     }
  
     .head_nav_list {
  
      padding: 60px 0px;
      gap: 30px;
      flex-direction: column;
      align-items: self-start;
  }
  
  .head_nav_item {
      font-size: 15px;
  }

  .foot_conblock {
    flex-direction: column;
    align-items: self-start;
  }

  .licencsion_block {
    flex-direction: column-reverse;
    align-items: self-start;
    gap: 20px;
  }
  .politick {
    width: auto;
  }
  
     .burger_menu {
      display: block;
     }
  
     .header_nubm {
      display: none;
     } 
  
  
  
  }