@import url(./grid.css);
@import url(./reset.css);
@import url(./burg_menu.css);

/* font-family: "Inter", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  /* overflow-y: hidden; */
}

body {
  font-family: "Inter", sans-serif;;
  animation: fade 0.1s;
  color: white;
  background-color: #D1D1D1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

.url {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* HEADER  */

.heead_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nubm {
    color: black;
}


.contact_block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.head_nav_list {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

}

.under_header {
    background-color: black;
    padding: 7px;
}

.head_nav_item {
    font-size: clamp(9px, 5vw, 12px);
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white; /* Цвет текста ссылки */
    margin-right: 20px; /* Примерный отступ между ссылками */
  }
  
  .head_nav_item::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px; /* Высота подчеркивания */
    background-color: white; /* Белый цвет подчеркивания */
    transition: width 0.3s ease; /* Анимация изменения ширины */
  }
  
  .head_nav_item:hover::before {
    width: 100%; /* Полная ширина подчеркивания при наведении */
  }
  

  /* ESCLUSIV  */

  .page_title {
    margin-top: 30px;
    color: black;
    text-transform: uppercase;
    font-size: clamp(15px, 5vw, 40px);
    text-align: center;
    margin-bottom: 30px;
}

.tovar_card {
    padding: 14px;
    background-color: black;
    border-radius: 12px;
    margin-bottom: 20px;
}

.tovar_card img {
    width: 100%;
}

.card_inf_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 11px;
    margin-top: 12px;
}

.tovar_name {
    font-size: clam(20px, 5ww, 13px);
    font-size: 12px;
}

.esclus_cardsss {
  align-items: center;
  justify-content: center;
}



/* FOOTER  */

.footer {
  background-color: #000000;
  padding: 30px;
}

.foot_nav {
  justify-content: flex-start ;
}

.foot_conblock {
  padding-bottom: 30px;
  border-bottom: 0.6px solid #D1D1D1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot_numb {
  color: white;
}

.licencsion_block {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.politick {
  font-size: 13px;
  width: 358px;
  font-weight: 300;
}



















@media (max-width: 580px ) {
    .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm { 
        width: auto;
    }

    .head_nav_list {
        gap: 0;
    }
 
}

@media (max-width: 515px ) {
   .under_header_hidee {
    display: none;
   
   }

   .head_nav_list {

    padding: 60px 20px;
    gap: 30px;
    flex-direction: column;
    align-items: self-start;
}

.head_nav_item {
    font-size: clamp(9px, 5vw, 50px);
}

   .burger_menu {
    display: block;
   }

   .header_nubm {
    display: none;
   } 



}